.roadmapTitle{
    font-size: 6em;
    text-align: center;
    font-family: "";
    color: "#172b4d";
}

h3 {
    font-size: 1.3em;
    padding-top: 0.25em;
}

h5 {
    font-size: 1em;
    color: #172b4d79;
}
h9384 {
    font-size: 1em;
    color: #4947cf23;
    color: #f500561c;
    color: #038ea118;
}
.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.25),
        0 0.4em 1.25em 0 rgba(0,0,0,0.15) !important;
    padding: 2em 3em !important;
}

.date{
    color: rgba(163, 142, 202, 0.815)
}

#description {
    margin: 1.5em 0 2em 0;
}

.mybutton {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 19px;
    color: white;
    text-decoration-color: white;
    margin-right: 0.5em;
}

.developmentButton {
    background-color: #172b4d;
}
.developmentButton:hover {
    background-color: #213d6e;
    color: white;
    text-shadow: 5em;
}

.researchButton {
    background-color:  #f5365c;
}
.researchButton:hover {
    background-color: #df3154;
    color: white;
    text-shadow: 5em;

}